<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">


        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Liste des étudiants qui n'ont pas (encore) validé l'étranger</h4>
            <!-- <p class="card-category">Liste des étudiants !</p> -->
          </div>
          <div class="card-body">
            <div class="table-responsive">

              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrer">
              </mat-form-field>

              <table mat-table [dataSource]="dataSource" matSort class="table" style="text-align: center;">

                <ng-container matColumnDef="photo">
                  <th mat-header-cell *matHeaderCellDef class=" text-primary"> Photo </th>
                  <td mat-cell *matCellDef="let element"> <img [src]="element.photo" class="rounded-circle" width="45"
                      height="45"> </td>
                </ng-container>

                <ng-container matColumnDef="nom">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class=" text-primary"> Nom </th>
                  <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
                </ng-container>


                <ng-container matColumnDef="prenom">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class=" text-primary"> Prenom </th>
                  <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
                </ng-container>

                <ng-container matColumnDef="promo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class=" text-primary"> Promo </th>
                  <td mat-cell *matCellDef="let element"> {{element.promo}} </td>
                </ng-container>

                <ng-container matColumnDef="specialite">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class=" text-primary"> Spécialité </th>
                  <td mat-cell *matCellDef="let element"> {{element.specialite.nomSpecialite}} <span
                      *ngIf="element.specialite.envisagee" style="color: mediumvioletred;"><strong> * </strong></span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="etat">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class=" text-primary"> État </th>
                  <td mat-cell *matCellDef="let element">
                    <div *ngIf="element.etat.degre == 4; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                      <span style="color: red; font-weight: 900;">
                        <strong> {{element.etat.nomEtat}}</strong>
                      </span>
                    </ng-template>
                    <ng-template #elseBlock>
                      <div *ngIf="element.etat.degre == 3; then thenBlock else elseBlock"></div>
                      <ng-template #thenBlock>
                        <span style="color: orange; font-weight: 900;">
                          <strong> {{element.etat.nomEtat}}</strong>
                        </span>
                      </ng-template>
                      <ng-template #elseBlock>
                        <div *ngIf="element.etat.degre == 2; then thenBlock"></div>
                        <ng-template #thenBlock>
                          <span style="color: #2f8f1b; font-weight: 900;">
                            <strong> {{element.etat.nomEtat}}</strong>
                          </span>
                        </ng-template>
                      </ng-template>
                    </ng-template>
                  </td>
                </ng-container>

                <ng-container matColumnDef="semainesRestantes">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class=" text-primary"> Semaines restantes </th>
                  <td mat-cell *matCellDef="let element"> {{element.semainesRestantes}} </td>
                </ng-container>

                <ng-container matColumnDef="commentaire">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class=" text-primary"> Commentaire </th>
                  <td mat-cell *matCellDef="let element"> {{element.commentaire}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef class=" text-primary" style="text-align: center;"> Actions </th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-raised-button type="button" (click)="edit(element)" matTooltip="Modifier l'étudiant"
                      [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm">
                      <i class="material-icons">edit</i>
                    </button>
                    <a href="mailto:{{element.mail}}">
                      <button mat-raised-button type="button" matTooltip="Envoyer un mail à l'étudiant"
                        [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm">
                        <i class="material-icons">mail</i>
                      </button>
                    </a>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <mat-paginator [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-chart">
      <div class="card-header card-header-info">
        <div id="legende">
              <span>
                <img class="img" src=".\..\..\assets\img\red.png" />
              </span>
          <span>
                Non Validé
              </span>
          <div class="upper-middle">
              <span>
                <img class="img" src=".\..\..\assets\img\red2.png" />
              </span>
          <span>
                Dossier annulé
              </span>
          </div>
          <div class="middle">
                <span>
                  <img class="img" src=".\..\..\assets\img\orange2.png" />
                </span>
            <span>
                  En attente du dossier
                </span>
          </div>
          <span>
                <img class="img" src=".\..\..\assets\img\green.png" />
              </span>
          <span>
                Dossier en cours
              </span>
        </div>
        <div class="ct-chart" id="ct-chart-pie">
        </div>
      </div>
      <div>
        <h3>Etat d'avancement</h3>
      </div>
    </div>
  </div>
</div>
