th.mat-sort-header-sorted {
    color: black;
  }
  
  .mat-sort-header-button {
    margin-right: auto !important;
    margin-left: auto !important;
  }




p{
  font-weight: bold;
}

.img{
  width: 30px;
  height: 20px;
  border-radius:10px 10px;
}

h3{
  text-align: center;
}

.middle{
  margin: auto;
}

.ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut {
  stroke: red !important;
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
  stroke: #22B14C !important;
}
.ct-series-a .ct-line, .ct-series-a .ct-point {
  stroke: white !important;
}

.card [class*="card-header-"] .ct-chart .ct-series-a .ct-slice-pie, .card [class*="card-header-"] .ct-chart .ct-series-a .ct-area {
  fill: #22B14C;
}

.ct-chart {
  margin: auto;
  width: 300px;
  height: 300px;
}

#legende, #legende2, #legende3{
  width: 25%;
  float: left;
}
#ct-chart-pie, #numberSucceedFailure, #numberOfStudents{
  margin-left:25%
}

.card .card-header-info .card-icon, .card .card-header-info .card-text, .card .card-header-info:not(.card-header-icon):not(.card-header-text), .card.bg-info, .card.card-rotate.bg-info .front, .card.card-rotate.bg-info .back {
  background: linear-gradient(60deg, #9c4747, #d01919);
}

.ct-chart .ct-label {
  fill: rgb(255, 255, 255);
}

.card [class*="card-header-"] .ct-chart .ct-label {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
  border-radius: 3px;
  margin-top: -20px;
  padding: 15px;
  /* max-width: 92%; */
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
