<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Liste des étudiants</h4>
            <!-- <p class="card-category">Liste des étudiants !</p> -->
          </div>
          <div class="card-body">
            <div class="table-responsive">

              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrer">
              </mat-form-field>

              <table mat-table [dataSource]="dataSource" matSort class="table">

                <ng-container matColumnDef="nom">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class=" text-primary"> Nom </th>
                  <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
                </ng-container>


                <ng-container matColumnDef="prenom">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class=" text-primary"> Prenom </th>
                  <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
                </ng-container>

                <ng-container matColumnDef="promo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class=" text-primary"> Promo </th>
                  <td mat-cell *matCellDef="let element"> {{element.promo}} </td>
                </ng-container>

                <ng-container matColumnDef="specialite">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class=" text-primary"> Spécialité </th>
                  <td mat-cell *matCellDef="let element"> {{element.specialite.nomSpecialite}} </td>
                </ng-container>

                <ng-container matColumnDef="etat">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class=" text-primary"> État </th>
                  <td mat-cell *matCellDef="let element"> {{element.etat.nomEtat}} </td>
                </ng-container>

                <ng-container matColumnDef="pays">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class=" text-primary"> Pays </th>
                  <td mat-cell *matCellDef="let element"> {{element.pays.nomPays}} </td>
                </ng-container>

                <ng-container matColumnDef="semestresRestants">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class=" text-primary"> Semestres restants </th>
                  <td mat-cell *matCellDef="let element"> {{element.semestresRestants}} </td>
                </ng-container>

                <ng-container matColumnDef="commentaire">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class=" text-primary"> Commentaire </th>
                  <td mat-cell *matCellDef="let element"> {{element.commentaire}} </td>
                </ng-container>

                <ng-container matColumnDef="annee">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class=" text-primary"> Année </th>
                  <td mat-cell *matCellDef="let element"> {{element.annee}} </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <mat-paginator [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
